@import url('https://fonts.googleapis.com/css?family=Big%20Shoulders%20Display:700|Black%20Han%20Sans:400');
@import url('https://fonts.googleapis.com/css?family=Poppins:700|Kulim%20Park:400');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
:root{
    --primary: #AB1212;
    --secondary: #FF4242;
    --terciary: #D96161;
    --black: #0A0905;
    --white: #F8F6F2;
}

body {
    background-color: white;
/*  background-image: url("/images/equip-check-background.png"); */
    background-repeat: no-repeat;
    background-size: cover;
}

/* font-family: 'Big Shoulders Display' <--fonte principal */

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
}
.navitems {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.4s;
}
.navitems:hover {scale: 1.2;}


.blocos {
    position: absolute;
    color: var(--white);
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    border-radius: 30px;
}
.bloco1 {
    margin: 2rem 2rem;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(217, 97, 97, 0.8);
    transition: all 0.4s;
}
.bloco1:hover{scale: 1.06;}

.bloco1 .imagem {
    position: relative;
    left: 25%;
    background-image: url("/images/effects-icon.png");
    background-size: cover;
    outline-style: solid;
    outline-width: 5%;
    outline-color: var(--secondary);
    border-radius: 10%;
}
.bloco1 p {
    min-width: 50%;
    padding-left: 25%;
}

.bloco2 {
    margin: 2rem 2rem;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(171, 18, 18, 0.8);
    transition: all 0.4s;
}
.bloco2:hover{scale: 1.06;}

.bloco2 .imagem {
    position: relative;
    left: 25%;
    background-image: url("/images/instruments_icon.png");
    background-size: cover;
    width: 30%;
    height: 28%;
    border-style: solid;
    border-width: 5px;
    border-color: var(--terciary);
    border-radius: 30px;
}
.bloco2 p {
    width: 50%;
    padding-left: 25%;
}

.bloco3 {
    margin: 2rem 2rem;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 66, 66, 0.8);
    transition: all 0.4s;
}
.bloco3:hover{scale: 1.06;}

.bloco3 .imagem {
    position: relative;
    left: 25%;
    background-image: url("/images/amps-and-cabinets-icon.png");
    background-size: cover;
    width: 30%;
    height: 28%;
    border-style: solid;
    border-width: 5px;
    border-color: var(--primary);
    border-radius: 30px;
}
.bloco3 p {
    width: 50%;
    padding-left: 25%;
}








p {
    font-family: 'Kulim Park';
    font-size: 20px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Big Shoulders Display';
    font-weight: 700;
  }
  
  html {font-size: 100%;} /* 16px */
  
  h1 {font-size: 4.210rem; /* 67.36px */}
  
  h2 {font-size: 3.158rem; /* 50.56px */}
  
  h3 {font-size: 2.369rem; /* 37.92px */}
  
  h4 {font-size: 1.777rem; /* 28.48px */}
  
  h5 {font-size: 1.333rem; /* 21.28px */}
  
  small {font-size: 0.750rem; /* 12px */}